{% extends "base.html" %}
{% block content %}
<div class="d-grid gap-3" style="grid-template-columns: 1fr 3fr;">
  <div class="bg-body-tertiary border rounded-3 sticky-top" style="min-height: 100px; padding: 15px;">
    filters
  </div>
  <div class="bg-body-tertiary border rounded-3" style="min-height: 100px; padding: 15px;">
    <h2>All Opportunities</h2>
    {% if open_roles %}
      <ul class="list-group">
        {% for role in open_roles %}
          <li>
            <h3>
              {{ role.role_name }}
            </h3>
          <p>
            {{ role.message }}
          </p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h4>No opportunities yet.</h4>
    {% endif %}
    {% include "includes/pagination.html" %}
  </div>
</div>
{% endblock %}