<h3>We are open for:</h3>
  <ul>
    {% for role in open_roles %}
      <li>
        {{ role.role_name }} - {{ role.message }}
      </li>
    {% endfor %}
    <a href="{% url 'projects:project_open_roles' project.pk %}" class="btn btn-primary mb-3">All opportunities</a>
  </ul>
  {% if can_applicate %}
    <button class="btn btn-primary"
          hx-get="{% url 'projects:apply' project.pk %}"
          hx-target="#modal-body"
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#applicationModal">
      Applicate
  </button>
  {% endif %}