{% if ratings %}
  <ul>
    {% for rating in ratings %}
      <li>{{ rating.rated_by.username }} – Score: {{ rating.score }}
          {% if rating.comment %}- Comment: {{ rating.comment }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <h2>No ratings yet.</h2>
{% endif %}
{% if can_rate and is_deployed %}
<button type="button" class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#ratingModal"
        hx-get="{% url 'projects:project_rate' project.pk %}"
        hx-target="#ratingModal .modal-body">
    Rate this project
</button>
{% endif %}
