{% extends "base.html" %}
{% block content %}
<h2>🏆 Leaderboard</h2>
  <form action="" method="get">
      {{ search_form }}
      <button type="submit" class="btn btn-primary mb-3">Find Team'Mates</button>
    </form>
<table>
{% if developers %}
    <tr>
        <th>Rank</th>
        <th>Developer</th>
        <th>Position</th>
        <th>Avg. Project Score</th>
    </tr>
    {% for dev in developers %}
    <tr>
        <td>{{ forloop.counter0|add:start_rank|add:1 }}</td>
        <td><a href="{% url 'users:profile' dev.pk %}">{{ dev.username }}</a></td>
        <td>{{ dev.get_position_display }}</td>
        <td>{{ dev.avg_score|floatformat:2|default:"–" }}</td>
    </tr>
    {% endfor %}
</table>
  {% include "includes/pagination.html" %}
{% else %}
 <h5>No developers yet.</h5>
{% endif %}
{% endblock %}
