{% extends "base.html" %}
{% block content %}
{% if developer %}
{% else %}
  <h2>No developer.</h2>
{% endif %}
<div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
  <div class="bg-body-tertiary border rounded-3 sticky-top" style="min-height: 100px; padding: 15px;">
    <h2>{{ developer.username }}</h2>
      <p>Position: {{ developer.get_position_display }}</p>
      <p>Tech Stack: {{ developer.tech_stack }}</p>
      <p>Email: {{ developer.email }}</p>
      <p>Avg. rating: {{ developer.score }}</p>
      <p>Avg. projects rating: {{ avg_project_score }}</p>
  </div>
  <div class="bg-body-tertiary border rounded-3" style="min-height: 100px; padding: 15px;">
    <h3>Projects participated in:</h3>
    {% if projects %}
      <ul class="list-group">
        {% for project in projects %}
          {% include "includes/project-card.html" %}
        {% endfor %}
      </ul>
    {% else %}
      <h2>No projects yet.</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
